{
  "presets": ["babel-preset-expo", "react-native"],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source",
        ["auto-import", {
          "declarations": [
            {"path": "react", "default": "React", "members": ["Component"]},
            {"path": "lodash",
              "default": "_",
              "members": [
                "map", "filter", "reduce", "difference", "uniqueId", "remove",
              ]
            },
            {"path": "react-native",
              "members": [
                "Image", "Platform", "StyleSheet", "Dimensions", "View", "ScrollView", "FlatList",
                "Text", "TextInput", "Switch", "Picker", "CheckBox", "Alert", "TouchableWithoutFeedback",
                "Button", "ActivityIndicator", "TouchableOpacity", "Switch", "DatePickerIOS"
              ]
            },
          ]
        }]
      ]
    }
  }
}
